.login-wrap {
  .d-flex{
      display: flex;
    }

  .login-cont {
    background: #FFFFFF;
    .loginform {
      form{width:100%;}
      .loginlogo {
        font-weight: 500;
        color: #399FC7;
        font-size: 2.2rem;
        display: flex;
        align-items: center;

        span {
          margin-bottom: -10px;
          margin-left: 4px;
          display: inline-block
        }
      }

      >.d-flex {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
      }

      form {
        margin-top: 40px;

        input {
          +input {
            margin-top: 8px;
          }
        }

        button {
          margin: 24px 0;
        }
      }
    }
  }
}

@include pc {
  .login-wrap {
    .login-cont{
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 1120px;
    height: 720px;
    .loginimg {
      width: 740px;
    }
    .loginform {
      width: calc(100% - 740px);
    }


    }
  }
}

@include mobile {
  .login-wrap {
    padding: 0 !important;

    .login-cont {
      background: #fff;
      width:100%;
      height: 100%;

      .d-flex {
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }
    .login-ft{
      font-size: 1.2rem;
      padding: 24px 40px;
      word-break: keep-all;
      text-align: center;
      border-top: solid 1px #ECF2F3;
      color:#666
    }
  }
}