// Here we change the inside variables of Vuetify
// The Soft UI Design variables are located in "src/assets/scss/soft-ui-dashboard"

@import "variables/typography";
@import "variables/icons";
@import "variables/list-item";
@import "variables/forms";
@import "variables/buttons";
@import "variables/card";
@import "variables/light-theme";
@import "variables/border-radius";
@import "variables/alerts";
@import "variables/timeline";
@import "variables/switch";
@import "variables/pagination";
@import "variables/progress";
@import "variables/sliders";
@import "variables/stepper";

@mixin pc {
  @media (min-width: 601px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

$spacer:0;
$body-font-family: 'Noto Sans KR',
'sans-serif';
$font-size-root:10px;
$font-weight-bold:500;
$font-weight-bolder:700;
$v-list-item-title-color:#000;
$line-height-md:0;
$icon-size:20px;
$toolbar-content-padding-y:0;
$toolbar-content-padding-x:0;
$breadcrumbs-margin:0;
$breadcrumbs-padding:10px;
$breadcrumbs-even-child-padding:8px;
$container-max-widths: ('xl': 1280px);
$input-icon-width:20px;
$input-icon-height:20px;
$input-slot-margin-bottom:0;
$input-top-spacing:0;
$messages-min-height:0;
$text-field-details-min-height:8px;
$text-field-active-label-height:0;
$text-field-details-margin-bottom:0;
$input-max-height:50px;
$text-field-line-height:50px;
$text-field-outlined-fieldset-border:1px solid #399FC7;
$select-outlined-dense-selections-padding-top:7px 0;
$list-item-dense-title-font-size:1.4rem;
$list-item-dense-title-line-height:inherit;
$material-light: ('text-fields': (
  'outlined': #C7D1E3,
  'outlined-disabled':#C7D1E3,
    'outlined-hover': #399FC7,
    'outlined-focused': #399FC7,
  ),
);
$button-border-radius:4px;
$button-font-size:17px;
$data-table-regular-header-height:45px;
$data-table-regular-header-font-size:1.4rem;
$data-table-regular-row-height:45px;
$data-table-regular-row-font-size:1.4rem;
$pagination-item-font-size:1.4rem;
$pagination-item-padding:0;