.charge-page {
  height: 100%;

  .container {
    height: 100%;
    letter-spacing: -0.6px;
  }

  .lt {
    background: #fff;

    h2 {
      text-align: center;
      margin-bottom: 24px;
    }

    h4 {
      margin-bottom: 8px;
    }

    form {
      >button{
        margin-top: 2.4rem;
      }

      >div {
         &:first-child {
          p {
            line-height: 1;
          }
        }
         + div {
          margin-top: 28px;
          }
         p.info-mes {
          font-size: 1.4rem;
            margin-top: 8px;
            color: #666666;
            font-weight: 400;

          }
          &:nth-of-type(5) {
          p.font-weight-bolder {
            font-size: 2rem;
            color: #666666;
            line-height: 1;
          }
        }
      }

      .input-ph {
        display: flex;
        position: relative;

        input {
          padding-right: 80px;
        }

        button {
          width: auto;
          padding: 0 22px;
          border-radius: 0 4px 4px 0;
          position: absolute;
          top: 0;
          right: 0
        }
      }

      input[type=radio] {
        display: none;

        +label {
          display: inline-block;
          width: calc(33.33% - 8px);
          height: 48px;
          line-height: 46px;
          border: 1px solid #C7D1E3;
          border-radius: 8px;
          text-align: center;
          font-size: 1.6rem;
          margin-bottom: 8px;
          cursor: pointer;
          font-weight: 400;

          +input {
            +label {
              margin-left: 8px;
            }
          }
        }

        &:checked+label {
          border: 1px solid #49A7CB;
          background: #49A7CB;
          color: #fff;
          font-weight: 700;
        }
      }
    }
  }

  .rt {
    display: flex;

    h4 {
      font-weight: 500;
      margin-bottom: 8px;
    }

    .fee-list {
      width: 300px;

      >div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
        height: 32px;
        font-size: 1.2rem;
      }

      .list-cate {
        border-top: solid 1px #399FC7;
        border-bottom: solid 1px #399FC7;
        background: rgba(57, 159, 199, 0.1);
        color: #399FC7;
        font-weight: 500;
      }

      >div:not(.list-cate) {
        +div {
          border-top: solid 1px #DBE1EB;
        }

        &:last-child {
          border-bottom: solid 1px #DBE1EB;
        }
      }
    }
  }
}

@include pc {
  .charge-page {
    background-image: linear-gradient(to right, #fff 35%, #F6F8FA 35%);

    .lt {
      width: 35%;
      padding: 30px 50px;
      form{
        width: 300px;
        div {

        &:nth-of-type(3) {
          p {
            font-size: 1.6rem;
            font-weight: 500;
          }
        }
      }
      }
    }

    .rt {
      padding: 30px 0 30px 80px;

      >div+div {
        margin-left: 90px;
      }
    }

  }

  .container {
    display: flex;
  }
}

@include mobile {
  .charge-page {
    .lt{
      padding: 40px;
      form{
        div{
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
    }
    .rt {
      padding: 40px;
      flex-direction: column;
      >div+div {
        margin-top:20px;
      }
    }
  }
}